**/__pycache__
save_model
/save_model
**/save_model
saved_model
/saved_model
**/saved_model
pre_train
/pre_train
**/pre_train
log
/log
**/log
mydataset
mydataset.lnk
dataset
dataset.lnk
*.out
*.txt
*.jetson
*.sh
.vscode
lab.py
run.sh
*.jpg
*.png
elog
/elog
**/elog
!pythonenv.txt
